/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1) TOUCH hacks
            3.2) POSITIONS blocks (float:)
            3.3) POSITIONS text (text-align:)
            3.4) VERTICALLY align boxs (vertical-align:)
            3.5) INDENTS Zero !IMPORTANT
            3.6) POSITIONS (position:)
            3.7) ZEROING float
            3.8) DISPLAYS (dispay:)
            3.9) LINKS And BUTTONS
            3.10) HOVERS TRANSITION
            3.11) TITLES
            3.12) BACKGROUNDS
            3.13) COLORS
            3.14) GOOGLE FONTS
            3.15) INSTALL FONTS
            3.16) VISIBILITY
            3.17) TEXTAFIELD (placeholder animation)
        4. HEADER
        5. CONTENT
        6. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/



/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins and other CSS files START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


        @import "../css/reset.css";
        @import "../plugins/arcticmodal/jquery.arcticmodal.css";
        @import "../plugins/formstyler/formstyler.css";
        @import "../css/plugins.css";
        @import "../css/indent.min.css";
        @import "../css/style_l.css";
        @import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext);


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  IMPORT Plugins And Other CSS files END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/


    article,
    aside,
    audio,
    canvas,
    command,
    datalist,
    details,
    embed,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    keygen,
    meter,
    nav,
    output,
    progress,
    section,
    source,
    video{
        display:block;
    }
    mark,
    rp,
    rt,
    ruby,
    summary,
    time{
        display:inline;
    }
    span,
    img,
    a{
       display: inline-block; 
    }

    html {width:100%;}

    body {
        font-family: 'PT Sans', sans-serif;
        font-size:21px;
        line-height:inherit;
        color:#000000;
        min-width:1050px;
        -webkit-text-size-adjust: none;
    }
    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    hr{
        border: none;
        border-top: 1px solid #888;
        margin: 0;
    }
    .container{
        width: 1020px;
        padding-left: 10px;
        padding-right: 70px; 
        margin-right: auto;
        margin-left: auto;
    }
    .main{
        width: 1085px;
        margin: 0 auto; 
    }

/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  DEFAULT Stylesheets END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
<================================================*/




        /*=======================>  TOUCH hacks START  <=======================*/


            input,
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*=======================>  POSITIONS blocks (float:) START  <=======================*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}


        /*=======================>  POSITIONS text (text-align:) START  <=======================*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*=======================>  VERTICALLY align boxs (vertical-align:) START  <=======================*/
        

            .val_mid{vertical-align: middle;}
            .val_bot{vertical-align: bottom;}
            .val_top{vertical-align: top;}
        

        /*=======================>  INDENTS Zero !IMPORTANT START  <=======================*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*=======================>  POSITIONS (position:) START  <=======================*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*=======================>  ZEROING float START  <=======================*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*=======================>  DISPLAYS (dispay:) START  <=======================*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}
            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*=======================>  LINKS And BUTTONS START  <=======================*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            a {
                color:#666;
                outline:none;
                text-decoration:underline;
                display: inline-block;
            }
            a:hover{
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: gray;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: uppercase;
            }
            [class*="btn_"]{
                padding: 13.5px 29px;
                font-size: 13px;
                line-height: 15px;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                color: #fff;
                text-transform: uppercase;
            }


        /*======================>>  HOVERS TRANSITION START <<======================*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*======================>  TITLES START  <======================*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
                line-height: 1.2;
            }
            
            .title{
                font-size: 66px;
                line-height: 70px;
                color:#d7203d;
                font-weight: bold;

            }
            .title_1{
                font-size: 60px;
                line-height: 66px;
                color:#d7203d;
                font-weight: bold;
                
            }
            .title1{
                font-size: 44px;
                color: #d7203d;
                font-weight: bold;
                
            }
            .title2{
                font-size: 41px;
                color: #000;
                font-weight: bold;
                
            }
            .title3{
                font-size: 37px;
                color: #000;
                
            }
            .title3_bold{
                font-size: 37px;
                color: #000;
                font-weight: 700;
                
            }
            .title5{
                font-size: 32px;
                color: #000;
            }
            .title4{
                font-size: 25px;
                color: #d7203d;
                
            }

            .it{font-style:italic;}

            .let{letter-spacing:-1px;}

            .reg {text-transform:uppercase;}

            .fw600{font-weight: 600;}

            .td_und{text-decoration: underline;}
            .td_und:hover{text-decoration: none;}

            .td_und_no{text-decoration: none;}
            .td_und_no:hover{text-decoration: underline;}

            .td_no{text-decoration: none !important;}


        /*=======================>  BACKGROUNDS START  <=======================*/


            .bg_none{ background:none !important;}
            .bg_black{background-color: #000;}
            .bg_white{background-color: #fff;}

            .btn_gray{
                background-color: gray;
            }

        /*=======================>  COLORS START  <=======================*/


            .white{ color: #FFF;}
            .black{ color: #000;}
            .red{ color: #d7203d;}


        /*======================>  GOOGLE FONTS START  <======================*/
        

            
            .thn{font-weight: 100;}
            .lt{font-weight: 300;}
            .fw_reg{font-weight: 400;}
            .med{font-weight: 500;}
            .bd{font-weight: 700;}
            .ultra_bd{font-weight: 900;}


        /*======================>  INSTALL FONTS START  <======================*/
        

            /*@font-face {
                font-family: 'Conv_MyriadPro-Regular';
                src: url('../fonts/MyriadPro-Regular.eot');
                src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'Conv_Myriad-Pro-Bold_31631';
                src: url('../fonts/Myriad-Pro-Bold_31631.eot');
                src: local('☺'), url('../fonts/Myriad-Pro-Bold_31631.woff') format('woff'), url('../fonts/Myriad-Pro-Bold_31631.ttf') format('truetype'), url('../fonts/Myriad-Pro-Bold_31631.svg') format('svg');
                font-weight: normal;
                font-style: normal;
            }*/


        /*======================>  VISIBILITY START  <======================*/
        

            .visible{
                visibility: visible;
            }
            .invisible{
                visibility: hidden;
            }


        /*======================>  TEXTAFIELD (placeholder animation) START  <======================*/
        
            /*===  input start  ===*/
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 1px solid red;
                -webkit-box-shadow: inset 0 0 0 1px red;
                box-shadow: inset 0 0 0 1px red;
                color: red;
            }

            input::-webkit-input-placeholder{
                line-height: 43px;
                font-style: italic; 
                transition: all 0.5s ease;
                font-family: 'PT Sans', sans-serif;
                color: #898989;
                font-size: 17px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input::-moz-placeholder{
                line-height: 43px;
                font-style: italic; 
                transition: all 0.5s ease;
                font-family: 'PT Sans', sans-serif;
                color: #898989;
                font-size: 17px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 43px;
                font-style: italic; 
                transition: all 0.5s ease;
                font-family: 'PT Sans', sans-serif;
                color: #898989;
                font-size: 17px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-ms-input-placeholder{
                line-height: 43px;
                font-style: italic; 
                transition: all 0.5s ease;
                font-family: 'PT Sans', sans-serif;
                color: #898989;
                font-size: 17px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            input:focus::-webkit-input-placeholder {
                opacity: 0;
                transition: all 0.5s ease;
            }
            input:focus::-moz-placeholder{
                opacity: 0;
                transition: all 0.5s ease;
            }
            input:focus:-moz-placeholder{
                opacity: 0;
                transition: all 0.5s ease;
            }
            input:focus:-ms-input-placeholder{
                opacity: 0;
                transition: all 0.5s ease;
            }

            .success_message{
                border: 2px solid green;
                padding: 20px;
                color: green;
                font-size: 17px;
                background-color: #fff;
            }
            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            /*textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: "LatoLightItalic";
                color: #26292D;
                font-size: 18px;
            }

            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                -webkit-transform: translateY(-50px);
                -ms-transform: translateY(-50px);
                -o-transform: translateY(-50px);
                transform: translateY(-50px);
            }*/
            /*===  textarea end    ===*/




/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  BASIC classes main END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    header {

    }   

        .header_container{
            padding: 37px 0 0 0;
            height: 668px;
            width: 100%;
        }
        .header_container2{
            padding: 37px 0 0 0;
            height: 502px;
            width: 100%;
        }
        .header_container_top_row{
        }
        .logo{
            padding-left: 34px;  
        }
            .logo a{
                display:block;
                width:160px;
                height:69px;
                background:url(../images/logo.png) 0 0 no-repeat;
                text-decoration:none;
                text-indent:-9999px;
                font-size: 0;
            }
        
        .navigation_menu{
            background: #707070;
            padding-left: 50px;
            width: 50.6%;
            height: 69px;
        }
            .menu_item{
                float: left;
                padding-top: 22px;
                height: 100%;
                font-size: 20px;
                margin-right: 46px;    
            }   
                .menu_link{
                    color: #fff;
                    text-decoration: none;
                    border-bottom: 1px solid #a9a9a9;
                }
                .menu_link:hover{
                    color: #a9a9a9;
                    border-bottom: none;
                }
        .header_number{
            width: 28.6%;
            height: 69px;
            font-size: 30px;
            color: #fff;
            background: #555555;
            padding: 10px 0 0 19px;
        }        
            .header_number_text{
                font-size: 12px;
            }
        
        .header_form{
            position: relative;
        }
            .header_form_left{
                width: 360px;
            }
                .header_form_list_item{
                    font-size: 28px;
                    padding-left: 33px;
                    position: relative;
                    margin-bottom: 13px;
                }
                    .header_form_list_item:before{
                        content: "";
                        display: block;
                        width: 23px;
                        height: 18px;
                        background: url(../images/list_arrow.png) 0 0 no-repeat;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }

            .header_form_right{
                width: 458px;
                height: 315px;
                padding: 39px 41px;
                background: #325464;
                position: absolute;
                right: 0;
                top: 16px;
            }  
                .header_form_right_bg2{
                    background: #0077A6;
                }
                .header_form_right:before,
                .header_form_right_bg2:before{
                    content: "";
                    position: absolute;
                    display: block;
                    width: 36px;
                    height: 36px;
                    background: url(../images/form_block_img.png) 0 0 no-repeat;
                    right: 100%;
                    top: 0; 
                }   
                .header_form_right_bg2:before{
                    background: url(../images/form_block_img2.png) 0 0 no-repeat;
                }

                .header_form_input,
                .header_form_right .jq-selectbox__select{
                    width: 100%;
                    height: 43px;
                    line-height: 43px;
                    border: none;
                    padding: 0 17px;
                    font-style: italic;
                    font-size: 17px; 
                    color: #898989;
                }
                   
                .header_form_right_button{
                    width: 100%;
                    padding: 0;
                    height: 53px;
                    line-height: 53px;
                    background: #39b54a;
                    color: #fff;
                    font-size: 23px;
                    font-weight: bold;
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                .header_form_right_button:hover{
                    opacity: .8;
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }
                .header_form_right_link{
                    font-size: 13px;
                    color: #fff;
                    text-align: center;
                    width: 100%;
                }


    .menu_link2{
        color: #fff;
        font-size: 26px;
        text-decoration: none;
        line-height: 69px;
    }
        .menu_link2:hover{
            color: #a9a9a9;
        }
    .header_title_block .title1{
        width: 753px;
    }

    .header_title_list{
        margin-left: -32px;
    }

        .header_title_list_item{
            float: left;
            position: relative;
            font-size: 18px;
            line-height: 28px;
            margin-left: 28px;
        }
            [data-list-icon="clock"]:after{
                content: "";
                background: url(../images/icon/clock_icon.png) 0 0 no-repeat;
                width: 26px;
                height: 30px;
                display: block;
                float: left;
                margin-right: 6px;
                margin-top: -4px;
            }

            [data-list-icon="interest"]:after{
                content: "";
                background: url(../images/icon/interest_icon.png) 0 0 no-repeat;
                width: 22px;
                height: 24px;
                display: block;
                float: left;
                margin-right: 6px;
            }

            [data-list-icon="currency"]:after{
                content: "";
                background: url(../images/icon/currency_icon.png) 0 0 no-repeat;
                width: 21px;
                height: 22px;
                display: block;
                float: left;
                margin-right: 6px;
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  HEADER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/

[data-bg="main_img_bg1"]{
    background: url(../images/main_img_bg1.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
[data-bg="main_img_bg2"]{
    background: url(../images/bg_main2.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
[data-bg="protection_bg2"]{
    background: url(../images/protection_bg2.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;   
}
[data-bg="gray"]{
    background: #f7f7f7;
}



/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #content {
    }
        .content_box1{
            padding: 80px 0;
        }

        .instructions_box{
            text-align: center;
            margin: 0 -50px;
        }

            .instructions_item{
                width: 250px;
                display: inline-block;
                text-align: center;
                margin: 0 46px;
            }
                .instructions_item_img{
                    margin-bottom: 15px;
                }

                [data-arrow="red"],
                [data-arrow="orange"]{
                    position: relative;
                }
                [data-arrow="red"]:after,
                [data-arrow="orange"]:after{
                    content: "";
                    position: absolute;
                    width: 123px;
                    height: 39px;
                    display: block;
                    background: url(../images/content_arrow_red.png) 0 0 no-repeat;
                    top: 50%;
                    left: 90%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                [data-arrow="orange"]:after{
                    background: url(../images/content_arrow_yellow.png) 0 0 no-repeat;
                }
                
                .instructions_item_text{
                    font-size: 20px;
                }
                .number{
                    font-size: 22px;
                    color: #d82642;
                    margin-top: -2px;
                }
                    .instructions_item:nth-child(even) .number{
                        color: #f7941e;
                    }

                .instructions_item_text a{
                    text-decoration: none;
                    color: #000;
                    border-bottom: transparent;
                }    
                .instructions_item_text a:hover{
                    border-bottom: 1px solid #b5b5b5;
                }

        .bank_block{
            display: table;
            margin: 0 auto;
        }
            .bank_block_img{
                width: 129px;
                height: 130px;
                box-shadow: 2px 3px 1px #d4d4d4;
                border-radius: 10px;
            }
            .bank_block_text{
                width: 610px;
                font-size: 26px;
                text-align: left;
                padding-left: 41px;
                vertical-align: middle;
                display: table-cell;
            }            


    .main_indent .header_form_right{
        position: relative;
    }


/*======================>  application PAGE START  <======================*/
    [data-star^="star"]{
        position: relative;
        padding-right: 14px;
    }
    [data-star="star1"]:after{
        content: "*";
        font-size: 24px;
        width: 10px;
        height: 9px;
        color: #101010;
        position: absolute;
        right: 0;
        top: 5px;
    }

    .rub_title{
        background: url(../images/icon/title_rub_icon.png) 0 0 no-repeat;
        width: 37px;
        height: 41px;
        margin-top: 13px;
    }

    .header_form_application{
        width: 546px;
        padding: 27px 28px 35px 37px;
        background: #f3f3f3;
        position: absolute;
        right: 0;
        top: -22px;
    }
        .header_form_application_title{
            font-size: 35px;
            line-height: 40px;
            font-weight: bold;
            margin-bottom: 35px;
        }

        .header_form_application_title_sub{
            font-size: 20px;
            font-weight: 600;
            color: #3e3e3e
        }

        .header_form_application_label{
            font-size: 15px;
            line-height: 1.2;
            color: #707070;
            vertical-align: middle;
            display: inline-block;
            width: 154px;
        }

        .header_form_application_input{
            padding: 5px 10px;
            font-size: 15px;    
            width: 319px;
            height: 38px;
            border: 1px solid #adadad;
        }
        .header_form_application_input.credit{
            width: 286px;
        }
        .rub_icon{
            position: relative;
        }
            .rub_icon:after{
                content: "";
                background: url(../images/icon/rub_icon.png) 0 0 no-repeat;
                width: 11px;
                height: 13px;
                position: absolute;
                right: 10px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        .header_form_application_select{
            width: 194px;
        }
        .header_form_application_select .jq-selectbox__select{
            font: 15px/38px Arial, sans-serif;
            height: 38px;
            border-color: #adadad;
        }

        .radio_btn{
            display: none;
        }

        .radio_label{
            cursor: pointer;
            width: 148px;
            display: inline-block;
            font-size: 15px;
            color: #707070;
            position: relative;
            padding: 3px 0 3px 34px;
            vertical-align: middle; 
            background: url(../images/input_radio.png) 0 0 no-repeat;

        }

            .radio_btn:checked + .radio_label{
                background: url(../images/radio_btn_active.png) 0 0 no-repeat; 
            }

            .mr3{
                margin-right: 3px;
            }

            .mr19{
                margin-right: 19px; 
            }

        .header_form_application_select.date{
            width: 77px;
        }    
        .header_form_application_select.month,
        .header_form_application_select.year{
            width: 113px;
        }
        .header_form_application_select.city{
            width: 232px;
        }
        .header_form_application_select .jq-selectbox__select-text{
            width: 100% !important;
        }
        .header_form_application_select .jq-selectbox__trigger .jq-selectbox__trigger-arrow{
            top:50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .header_form_application_hr{
            border: none;
            width: 100%;
            height: 1px;
            background: #c9292f;
        }

        .header_form_application_code_img{
            display: inline-block;
            width: 118px;
            height: 38px;
            margin-right: 14px;
        }
            .header_form_application_code_img img{
                width: 100%;
                height: 100%;
            }
        .header_form_application_input.code{
            width: 183px;
        }
        .header_form_application_button{
            width: 100%;
            padding: 0;
            height: 63px;
            line-height: 63px;
            background: #ee7b00;
            border: 1px solid transparent;
            color: #fff;
            font-size: 27px;
            font-weight: 600;
            box-shadow: 0 1px 1px #e3e3e3;
            -webkit-transition: all 0.7s ease;
            -moz-transition: all 0.7s ease;
            -o-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }
        .header_form_application_button:hover{
            border: 1px solid #ee7b00;
            background: none;
            color: #ee7b00;
            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.1s ease;
            -o-transition: all 0.1s ease;
            transition: all 0.1s ease;
        }

.content_box2{
    padding: 50px 0 125px;
}

    .content_wrapper{
        width: 350px;
    }      
        .content_wrapper .title2{
            font-size: 28px;
            margin-bottom: 18px;
        }  

        .content_application_list{
            counter-reset: takepart;
        }

            .content_application_list_item{
                position: relative;
                padding-left: 26px;
                margin-bottom: 16px;
            }
                .content_application_list_item:before{
                    content: counter(takepart) '.';
                    counter-increment: takepart;
                    position: absolute;
                    left: 0;
                    color: #d7203d;
                }

        .content_application_hr{
            border: none;
            width: 100%;
            height: 3px;
            background: url(../images/hr_img.png) 0 0 repeat-x;
        }   

        .content_application_text{
            font-size: 15px;
            color: #707070;
            padding-left: 16px;
            position: relative;
        }     
            .content_application_text:before{
                content: "*";
                position: absolute;
                left: 0;
            }

        .content_application_pdf{
            position: relative;
            padding-left: 31px;
            font-size: 15px;
            color: #707070;
        }    
            .content_application_pdf:before{
                content: "";
                position: absolute;
                width: 23px;
                height: 19px;
                left: -7px;
                top: 0;
                background: url(../images/icon/pdf_icon.png) 0 0 no-repeat;
            }
            .content_application_pdf_link{
                color: #c9292f;
            }

/*======================>  application PAGE END    <======================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  CONTENT END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    footer {
    }
        .footer_container{
            position: relative;
        }
            .footer_container:before{
                content: "";
                position: absolute;
                height: 96px;
                background: #707070;
                top: 0;
                left: 0;
                right: 50%;
                z-index: -1;
                display: block;
            }
            .footer_container:after{
                content: "";
                position: absolute;
                height: 96px;
                background: #555;
                top: 0;
                left: 0;
                right: 0;
                z-index: -2;
                display: block;
            }

            .copyright_block{
                height: 96px;
                width: 640px;
                background: #707070;
                font-size: 15px;
                color: #fff;
                padding: 26px 0 0;
            }


            .footer_number{
                font-size: 28px;
                color: #fff;
                background: #555;
                height: 96px;
                width: 300px;
                padding: 20px 37px 0;
            }
            

/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  FOOTER END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/


    #ahchor{
        
    }
    .ahchor{
        
    }
        .arrow_up {
            position: fixed;
            z-index: 99;
            right: 150px;
            bottom: 150px;
            visibility: hidden;
            opacity: 0;
            bottom: 200px;
            cursor: pointer;
            -webkit-transition: all linear 0.2s;
               -moz-transition: all linear 0.2s;
                -ms-transition: all linear 0.2s;
                 -o-transition: all linear 0.2s;
                    transition: all linear 0.2s;
        }
        .arrow_up.active{
            opacity: 0.6;
            visibility: visible;
        }

            .arrow_up .fa-arrow-up{
                border: 3px solid #888;
                width: 70px;
                height: 70px;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
                overflow: hidden;
                text-align: center;
                background-color: transparent;
            }
            .arrow_up .fa-arrow-up:before{
                font-size: 30px;
                color: #888;
                line-height: 65px;    
            }
            .arrow_up:hover,
            .arrow_up.click{
                opacity: 1;
                -webkit-transform: scale(1.1);
                   -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                     -o-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all ease-in 0.2s;
                   -moz-transition: all ease-in 0.2s;
                    -ms-transition: all ease-in 0.2s;
                     -o-transition: all ease-in 0.2s;
                        transition: all ease-in 0.2s;
            }
            .arrow_up:hover .fa-arrow-up,
            .arrow_up.click .fa-arrow-up{
                background-color: #34A706;
                border: 3px solid #34A706;
            }
            .arrow_up:hover .fa-arrow-up:before,
            .arrow_up.click .fa-arrow-up:before{
                color: #fff;            
            }


/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ANCHOR END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/