
.main_indent{
	padding: 50px 0 65px;
}

[data-bg="protection_bg"]{
	background: #FFF url(../images/protection_bg.jpg) 0% 0% no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
[data-skin="white"]{
	background-color: #FFF;
}
[data-bg="grey"]{
	background-color: #f5f5f5;
}
[data-bg="grey2"]{
	background-color: #F8F8F8;
}

/*-------------------------- START: Protection block --------------------------*/
.protection_block{
	padding: 40px 70px 42px;
}
	.protection_box1{
		width: 35%;
	}
		.protection_figure{
			margin-bottom: 10px;
		}
		.protection_figcaption{
			color: #FFF;
			font-size: 19px;
			padding: 4px 0;
			position: relative;
			text-align: center;
			background-color: #707070;
		}
			.protection_figcaption:before,
			.protection_figcaption:after{
				content: "";
				position: absolute;
				width: 6px;
				height: 27px;
				top: 1px;
			}
			.protection_figcaption:before{
				left: 0;
				background: url(../images/icon/arrow_right.png) 0% 0% no-repeat;
			}
			.protection_figcaption:after{
				right: 0;
				background: url(../images/icon/arrow_left.png) 0% 0% no-repeat;
			}
	.protection_box2{
		width: 53%;
	}
		.protection_box2 p{
			font-size: 18px;
			margin-bottom: 0;
		}


/*-------------------------- START: Service block --------------------------*/
.service_figure:first-child,
.service_figure:nth-child(2n+1){
	border-left: 1px solid #ebebeb;
}
.service_figure{
	float: left;
	width: 310px;
	padding: 0 47px 0;
	border-right: 1px solid #ebebeb;
}
	.service_figure_img_box{
		width: 113px;
		height: auto;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.service_figcaption{
		font-size: 15px;
		text-align: center;
		text-transform: uppercase;
	}

.hr40{
	width: 100%;
	height: 1px;
	border: none;
	margin: 40px 0;
	display: inline-block;
	background-color: #EBEBEB;
}



/*-------------------------- START: Rating block --------------------------*/
.rating_figure{
	float: left;
	width: 220px;
	height: 298px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	background-color: #FFF;
	padding: 37px 13px 15px;
}
	.rating_figure:after{
		content: "";
		position: absolute;
		left: 0;
		bottom: -26px;
		width: 220px;
		height: 27px;
		background: url(../images/icon/rating_arrow_down.png);
	}
.rating_figure:last-child{
	margin-right: 0;
}
	.rating_figure_img_box{
		margin-bottom: 30px;
	}
		.rating_figure_img_box img{
			display: block;
			margin: auto;
		}
	.rating_figcaption{}
		.rating_figcaption_title{
			color: #000;
			font-size: 16px;
			font-weight: 800;
			margin-bottom: 20px;
		}
		.rating_figcaption p{
			color: #000;
			font-size: 14px;
			font-style: italic;
		}


/*---------------------------- START: Popup --------------------------*/
.arcticmodal_container_box{
	width: 800px;
	padding: 50px 50px 70px 60px;
}
	.arcticmodal_container_box h4{
		font-weight: 700;
		margin-bottom: 35px;
	}
	.arcticmodal_container_box p{
		font-size: 14px;
		margin-bottom: 20px;
		font-family: "Myriad Pro";
	}
	.consent_list{
		margin-left: 35px;
		margin-bottom: 30px;
	}
		.consent_list li{
			font-size: 14px;
			margin-bottom: 12px;
			position: relative;
			font-family: "Myriad Pro";
		}
			.consent_list li:before{
				content: "";
				position: absolute;
				left: -25px;
				top: 9px;
				width: 14px;
				height: 1px;
				background-color: rgba(215, 32, 61, 0.7);
			}

/*-----------------------  thanks_block  -----------------*/
.thanks_block{
	padding: 87px 0px;
    margin-top: -230px;
}